*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #F8F8F8;
}
header{
    position: relative;
}
nav{
    background-color:whitesmoke;
    /* position: relative; */
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;

    
   
}
.cat{
    position: absolute;
    top: 20px;
    left: 85%;

}
#cartIcon{
    font-size: 1.9rem;    
    color: black ;
    
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button{ 
    text-align: left;   
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    /* border: #009DCF solid 5px; */
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'BIZ UDPMincho', 'Playfair Display','Roboto Condensed', serif;
    border-top: 2px dotted black;
    
}


nav ul li:hover{
    background-color: wheat;
    cursor: pointer;
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
    
}


#hamburger span:nth-child(1){
    display: block;
}
#hamburger span:nth-child(2){
    display: none;
}
#hamburger.open span:nth-child(1){
    display: none;
}
#hamburger.open span:nth-child(2){
    display: block;
} 

.slider-container{
    height: 600px;
    overflow: hidden;
    position: relative;
}

 .slider-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0));
    z-index: 0;
  } 
.header-img{
    margin-bottom: 40px;
    box-shadow: 0 30px  #009DCF;

}
.header-img > h1{
    color:white;
    font-weight: 800;    
    position: absolute;    
    top:200px;
    left: 40px;   

    
}
.images{
    width: 100%;
    height: 100%;
}
.images img{
    height: 100%;
    width: 100%;
    
}
main{
    width: 70%;
    margin: 0 auto;
}
p{
    font-size: 1.0rem;
}

.header-text h2{
    text-align: left;
    margin-bottom: 20px;
}
.line{
    color:#009DCF;
    background-color: #009DCF;
    padding: 2px;
    width: 40px;
    height: 3px;
    display: block;
    margin-bottom: 20px;
}
.header-text p{
    text-align: left;
    font-size: 1.0rem;
}
.header-text{
    margin-bottom: 30px;

}
.offer, .offer-section{
    width: 100%;
}
.offer h2{
    margin-bottom: 10px;
}

.offer-section{
    margin-top: 60px;
}

.offer-sect{
    display: flex;
    flex-direction: column;    
    width: 100%;
    justify-content: center;
    align-items: center;
}
.offer-sect .offer-img img{
    width: 100%;
}
.offer-sect{
    background-color: white;
    margin-bottom: 20px;
    /* box-shadow: 10px  10px 50px gray ; */
    box-shadow:  0px  10px  10px 5px #bfb8b8 ;


}
.offer-img {
    width: 320px;
    max-width: 100%;
}
.sect{   
    width: 370px;
    max-width: 100%;
    margin-top: 50px;

}
.offer-sect p{
    margin-left: 10px;    
    max-width: 100%;
    /* width: 250px; */
}
.sect h3{
    margin-left: 10px;    
    margin-bottom: 20px;
    max-width: 100%;

}
.sect .line{
    margin-left: 10px;
   
}

.hes{
    margin-top: -20px;
}
button{
    padding: 10px;
    font-size: 1.1rem;
    width: 200px;
    background-color: #009DCF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    border: none;
    cursor: pointer;
}

.sect .butt1{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.sect .butt{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left:10px ;
}
.product-sect{
    box-shadow:  0px  10px  10px 5px #999393 ;

}
.pro{
    margin-left: 15px;
}
#tractor-sect, #cart, #tractor-carts{ 
    background-color: #5b5a5a;
    margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   
	
	
    
} 
.tract-img{
    width: 150px;
}
.sector{    
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.tract{
    text-align: left;
}
.tract-img img{
    width: 100%;
    max-width: 100%;
}
.product-sect{
    background-color:#5b5a5a;
}
.tract-button{
    width: 150px;
    padding: 5px;
}


/************** cart page **************/

.cart-main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* .cart-text{
    display: flex;
    flex-direction: column;
    text-align: center;
} */

.text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.btt{
    background-color: #858888;
}
form label{
    font-size: 1.3rem;
    color:#5b5a5a;
    font-weight: bold;
}
form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;    
    background-color: rgba(0, 0,0,0.1);
}
form input.submitBtn{
    border: none;
    background-color:#009DCF;
    color: #fff;
    border-radius: 1rem;
    padding: .60rem 1.5rem;
    margin-bottom: 20px;
    margin: 0 0 1rem 2%;
    width: 96%;
    max-width: 20rem;
    text-align: center;
}
form fieldset{    
    margin: 2rem 0;
    border: 1px solid #333D29;
    border-radius: 10px;
    padding: 0.6rem;
}
form legend{
    color: #333D29;
    margin: 0 1rem;
    padding: 0 5rem;
    font-weight: bold;
}
.toggle {
    display:flex;
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color:#5b5a5a;
    margin-left: 10px;
  }
  
.toggle-label {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color:#009DCF ;
    border-radius: 50%;
    transition: left 0.2s;
  }
  
form input.box{
    visibility: hidden;
  }
  
form input.box:checked + .toggle-label {
    left: 32px;
  }
.remember-me{
    display: flex;
    gap: 9.2rem;
    
}
.star{
    color: red;
}
.form-sect{
    display: none; 
    position: fixed; 
    z-index: 1; 
    top: 0%;
    left:30%;
    height: fit-content;    
    width: 600px;     
    overflow: auto;
    background-color:#F8F8F8;
    box-shadow:  0px  10px  10px 5px #bfb8b8 ;    
    margin-top: 65px;
  }
  .modal-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/************** Back to main Page **************/
.added-value-sect{
    margin-top: 30px;
}
.article-sect{    
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.art-sect{
    position: relative;
    margin-bottom: 10px;

}
.art-sect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 5), rgba(71, 70, 70, 0));
    z-index: 0;
}
.art-sect-img img{
    width: 100%;
    height: 100%;
}
.art-sect-img{
    width: 300px;
    height: 400px;
    max-width: 100%;
    margin-bottom: 20px;


}
.art1, .art3,.art2{
    position: absolute;
    top: 140px;
    left: 10px;
    color: #fff;
    width: 330px;
    max-width: 100%;

}
 
.art-btn1{
    margin-top: 15px;
    margin-left: 3px;
}
.art-btn2{
    margin-top: 55px;
    margin-left: 3px;

}
.art-btn3{
    margin-top: 55px;
    margin-left: 3px;

}

.article-section{
    border: #009DCF solid 7px;
    display:flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow:  0px  10px  10px 5px #bfb8b8;  
    justify-content: center;  
    align-items: center;

}
.artticle{
    /* overflow: hidden; */
    max-width: 100%;
    margin-left: 10px;
}
.artticle p{
    margin-bottom: 10px;
    
}
.artticle button{
    margin-left: 50px;
   
}
.art-img{
    margin-top: 10px;
    width: 320px;
    max-width: 100%;
}
.art-img img{
    width: 100%;
    height: 100%;

}
